{% extends "mgr/emsg/details/base_layout.html" %}
{% load myTags %}
{% block menu_3 %}active{% endblock %}

{% block body_right %}  
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-6">
				<h5> 在线用户 </h5>
			</div>
			<div class="col-sm-6" style="text-align:right;">
				<a class="btn btn-primary" href='#' onclick="send_packet_btn('');">
					<span class="glyphicon glyphicon-envelope" title="发消息" ></span>&nbsp;&nbsp;发消息
				</a>
			</div>
		  
		</div><!-- /.row -->
	</div>
	<div class="panel-body" >
		<table class="table">
			<tbody>
			{% for user in page.result %}	
			<tr style="font-size: 20px;">
				<td>
					<span class="glyphicon glyphicon-user" >
						{{user.jid}}
						{% if user.shutup %} &nbsp;&nbsp;&nbsp;&nbsp;(禁言状态) {% endif %}
					</span>
				</td>
				<td align="right">
					<a class="btn btn-sm btn-default" href='#' onclick="send_packet_btn('{{user.jid}}');">
						<span class="glyphicon glyphicon-envelope" title="发消息" ></span>&nbsp;&nbsp;发消息
					</a>
				</td>
			</tr>
			{% empty %}
				<tr>
					<td>当前没有活跃的连接</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>


	</div>
	
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-6">
				{% if page.totalCount > 0 %}
					<span class="label label-default">总数:{{page.totalCount}}</span>
					<span class="label label-default">当前页：{{page.pageNo}}</span>
					<span class="label label-default">每页：{{page.pageSize}}</span>
					<span class="label label-default">共{{page.totalNo}}页</span>
				{% endif %}
			</div>
			<div class="col-sm-6" style="text-align:right;">
				<div class="btn-group">
					<a 	class="btn btn-default fui-arrow-left" 
						title="首页" 
						href="/mgr/emsg_details/?app_id={{vo.id}}&menu=3"
					>首页</a>
					<a 	class="btn btn-default fui-triangle-left-large" 
						title="上一页" 
						{% if page.back != -1 %}
						href="/mgr/emsg_details/?app_id={{vo.id}}&menu=3&pageNo={{page.back}}"
						{% endif %}
					>上一页</a>
					<a 	class="btn btn-default fui-triangle-right-large" 
						title="下一页" 
						{% if page.next != page.totalNo %}
						href="/mgr/emsg_details/?app_id={{vo.id}}&menu=3&pageNo={{page.next}}"
						{% endif %}
					>下一页</a>
					<a 	class="btn btn-default fui-arrow-right" title="尾页" 
						href="/mgr/emsg_details/?app_id={{vo.id}}&menu=3&pageNo={{page.lastPage}}"
					>尾页</a>
					<button class="btn fui-resize" title="刷新" onclick="location.reload() ;">刷新</button>
				</div>
			</div>
		  
		</div><!-- /.row -->
	</div>

</div>	





<!--static dialog--> 
<div id="send_packet_dlg" title="Modal Dialog"> 
	<form class="form-horizontal">
	  <div class="form-group">
		<label for="emsg_from" class="col-sm-3 control-label">发送人:</label>
		<div class="col-sm-9 form-inline">
			<input type="text" class="form-control" id="emsg_from" name="emsg_from" placeholder="发送人的登陆 id" style="color: #000000;"/>
			<input type="text" class="form-control" style="color: #000000;" value="@{{app_name}}" readonly="readonly" />
		</div>
	  </div>
	  <div class="form-group">
		<label for="emsg_to" class="col-sm-3 control-label">接受人:</label>
		<div class="col-sm-9 form-inline">
			<input type="text" class="form-control" id="emsg_to" name="emsg_to" style="color: #000000;" placeholder="接收人的登陆 id"/>
			<input type="text" class="form-control" style="color: #000000;" value="@{{app_name}}" readonly="readonly" />
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputPassword3" class="col-sm-3 control-label">消息内容:</label>
		<div class="col-sm-8">
		  <textarea class="form-control" rows="3" id="emsg_payload" name="emsg_payload">{"attrs":{},"content":""}</textarea>
		</div>
	  </div>
	</form>	 
</div>
<!--end static dialog-->
{% endblock %}

{% block script %}
<script>
var send_packet_dlg = null;
var send_packet_btn = function(to){
	if(to){	
		$("#emsg_to").val(to.split('@')[0]);
	}else{
		$("#emsg_to").val('');
	}
	send_packet_dlg.dialog('open');
}
$(function(){
	send_packet_dlg = $('#send_packet_dlg').dialog({
		autoOpen:false,
		height:350,
		width:550,
		title:'发消息(调试)',
		modal:true,
		buttons:{
			'发送':function(){
				body = {
					"method":"send_packet",
					"params":{
						"from":$("#emsg_from").val()+"@{{app_name}}",
						"to":$("#emsg_to").val()+"@{{app_name}}",
						"payload":JSON.parse($("#emsg_payload").val()),
						"app_key":"{{app_key}}"
					}
				}
				$.ajax({
					type:"post",
					url:"/rest/",
					dataType:"text",
					data:{
						body:json2str(body)
					},
					success:function(data){
						rtn = JSON.parse(data);
						if(rtn.success){
							alert("发送成功.");
						}else{
							alert("发送失败.");
						}
					}
				});	
				
			},
			'关闭':function(){
				send_packet_dlg.dialog('close');
			}
		},
		close:function(){}
	});
});	
</script>	
{% endblock %}