{% extends "mgr/parent/base.html" %}
{% load myTags %}
{% block import %}
<style>
<!--
.table > tbody > tr > td {
	vertical-align: middle;
}
-->
</style>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
	<div class="row">
		<div class="col-sm-4">
			<h5>
				文件服务
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				&nbsp;应用管理 
			</h5>
		</div>
		<div class="col-sm-8 text-right">

		</div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading text-right">
			<a href="/mgr/fileserver/app_form/" class="btn btn-sm btn-primary">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加应用
			</a>	
		</div>		
		<div class="panel-body">    
            <table class="table table-striped mtable">
              <thead>
                <tr>
                  <th>水印</th>
                  <th>APPID</th>
                  <th>APPKEY</th>
                  <th>描述</th>
                  <th nowrap="nowrap">操作</th>
                </tr>
              </thead>
              <tbody>
              {% if page.data %}
              	{% for itm in page.data %}
                <tr>
                  <td>
                    {% if itm.icon %}  
                  		<img src="http://fileserver.lczybj.com/fileserver/get/{{itm.icon}}" width="50" height="50" />
                  	{% endif %} 	
                  </td>
                  <td>
                  	<a href='/mgr/fileserver/details/?app_id={{itm.id}}'> {{itm.appid}} </a>
                  </td>
                  <td> 
                  	<a href='/mgr/fileserver/details/?app_id={{itm.id}}'> {{itm.appkey}} </a> 
                  </td>
                  <td>{{itm.description}}</td>
                  <td>
                  	<a href="/mgr/fileserver/app_form/?id={{itm.id}}" class="btn btn-default">
                  		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  		修改	
                  	</a>
                  </td>
                </tr>
                {% endfor %}
			  {% endif %}	                
              </tbody>
            </table>
            {% set paginationParams %}
            	{"form":"search_form"}
            {% endset %}
            {% pagination %}
		</div>
				
	</div>
</div><!-- col-sm-12 -->
{% endblock %}
{% block script %}
<script>
$(function(){
	$('#nav_fileserver').addClass('active');
});
</script>
{% endblock %}