{% extends "parent/base_app_main.html" %}
{% block title %} 应用详情 {% endblock %}

{% block nav_1 %}
<span class="navbar-unread">1</span>
{% endblock %}

{% block tab_5 %}active{% endblock %}

{% block right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <form>
            <div class="row">
                <div class="col-lg-3">
                    <input class="form-control" name="from_jid" type="search" value="{{from_jid}}"
                           placeholder="发送人 jid">
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <input class="form-control" name="to_jid" type="search" value="{{to_jid}}" placeholder="接收人 jid">
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <button class="btn btn-default fui-search" type="submit"></button>
                </div>
                <div class="col-lg-3" style="text-align:right;">

                </div>
            </div>
            <!-- /.row -->
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed">
            <tr style="background-color: #f5f5f5">
                <td>摘要</td>
                <td>内容</td>
            </tr>
            {% for itm in dataList %}
            <tr>
                <td style="background-color: #dff0d8">
                    {{itm.ct}}&nbsp;&nbsp;
                    {%ifequal itm.state 'A'%}
                    <font color="green">[已接收]</font>
                    {% else %}
                    <font color="blue">[已发送]</font>
                    {%endifequal%}
                    &nbsp;&nbsp;-->
                </td>
                <td rowspan="4">
                    <textarea rows="5" cols="50" style="height: 100%;width: 100%;"
                              readonly="readonly">{{itm.payload}}</textarea>
                </td>
            </tr>
            <tr>
                <td>发送人:&nbsp;{{itm.from_jid}}</td>
            </tr>
            <tr>
                <td>接收人:&nbsp;{{itm.to_jid}}</td>
            </tr>
            <tr>
                <td>消息id:&nbsp;{{itm.pk}}</td>
            </tr>

            {% endfor %}

        </table>

    </div>

</div>


{% endblock %}


{% block script %}
<script>
$(function(){
	
});	

</script>
{% endblock %}

